
.Goals {

}

.GoalsContainer {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.GoalsSection {
    width: 900px;
}

.GoalsAndButton {
    display: flex;
    flex-direction: column;
}

.GoalsAndButton button {
    width: 48px;
    height:48px;
    border-radius: 50px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    background-color: #8DD070;
    align-self: center;
    margin-top: 32px;
}

.Modal {
    position: absolute;
    top: 40%;
    left: 40%;
    right: auto;
    bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Save {

}

.Close {
    background-color: #FF5252;
    border: 0;
    width: 125px;
    height: 40px;
    font-size: 20px;
    align-self: center;
    margin-top: 16px;

}

.Save {
    background-color: #8DD070;
    border: 0;
    width: 125px;
    height: 40px;
    font-size: 20px;
    align-self: center;

}

.Data {
    align-self: center;
    width: 255px;
    height: 40px;
    background-color: #E3E8FF;
    text-align: center;
    border: 0;
}

.Title {
    width: 255px;
    height: 40px;
    background-color: #E3E8FF;
    font-size: 20px;
    text-align: center;
    align-self: center;
    border: 1px solid black;
}

.Modal fieldset {
    border: 0;
}

.Description {
    width: 255px;
    height: 120px;
    background-color: #E3E8FF;
    font-size: 20px;
    align-self: center;
    border: 1px solid black;
}

.Value {
    width: 255px;
    height: 40px;
    background-color: #E3E8FF;
    font-size: 20px;
    text-align: center;
    align-self: center;
    border: 1px solid black;
}